INFURA_API_KEY=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
MNEMONIC="here is where your twelve words mnemonic should be put my friend"

LIQTROLLER_ADMIN='0x0000000000000000000000000000000000000000'
INITIAL_EPOCH_SEAL_THRESHOLD='1'
